@font-face {
    font-family: pix;
    src: url(../Silkscreen/Silkscreen-Regular.ttf);
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

body {
    background-color: black;
    color: white;
    font-family: pix;
}

button {
    font-family: pix;
    color: white;
    padding: 20px;
    border-radius: 10px;
    height: 13.5%;
    background-color: black;
    border: 2px white solid;
}

a:hover {
    color: red;
    border-color: red;
}

hr {
    color: white;
    height: 6.9px;
    background-color: white;
}

.mainText {
    text-align: center;
    color: aliceblue;
    font-size: 69px;
}

.mainButton {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    height: 13.5%;
    background-color: black;
    margin: 0;
    position: absolute;
    left: 10%;
    -ms-transform: translateX(-50%);
    transform: translateX(50%);
    font-size: 30px;
}

.fadeDiv {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}